//colors
$mainBlue: #007878;
$fontBlue: #273142;
$heroBg: #ffe2e0;
$mainRed: #df4244;
$grayBg: #f7f7f7;
$grayInp: #aaa;
$light: #e4e4e4;
$mainGreen: #43d167;
$mainBlack: #212121;
$mainYelo: #ffdd45;
$white: #ffffff;
$black: #000000;
$blackFooter: #171717;
$money: hsl(4, 92%, 62%);
$btnAdd: #f9f9f9;
$bestseller: #fff7f7;
$btnsearch: #ef544f;

$rgb1: #275240;
$rgb2: #0085ff;
$rgb3: #3d2a33;
$rgb4: #773838;
$rgb5: #773838;
$rgb6: #307e46;
$rgb7: #0085ff;
$rgb8: #ff6b00;
$rgb9: #d6b73b;
$rgb10: #7c4dff;
$rgb11: #f75145;
$rgb12: #842759;
$rgb13: #895c31;

//fonts
$logo: "Palanquin";
$main: "Poppins";
$header: "Rubik";
