* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  width: 40%;
}
input {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

button {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  font-weight: bolder;
}
.result {
  width: 100%;
  padding: 5px 15px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}
body {
  background: rgb(135, 91, 255);
  background: linear-gradient(
    58deg,
    rgba(135, 91, 255, 1) 21%,
    rgba(0, 175, 149, 1) 88%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100%;
  background-attachment: fixed;
}
