.login {
    @include center;

    .card {
        margin-top: 100px;
        flex-direction: column;
        // border: 1px solid black;
        width: 50%;
        padding: 55px;

        .header {
            font-size: 32px;
            font-weight: 500;
            font-family: $header;
            margin-bottom: 8px;
        }

        .logintext {
            width: 50%;
            margin-bottom: 30px;
        }

        label {
            font-weight: 500;
        }

        input {
            border: none;
            border: 1px solid $grayInp;
            border-radius: 8px;
            width: 100%;
            margin-bottom: 20px;
            padding: 5px;
        }

        .labels {
            display: flex;
            justify-content: space-between;

        }

        button {
            width: 100%;
            background-color: $mainRed;
            border-radius: 8px;
            padding-top: 13px;
            padding-bottom: 13px;
            border: none;
            color: $white;
            margin-bottom: 10px;
        }
    }
}

.loginForgot {
    .card {
        .succesImg {
            border-radius: 50%;
            background-color: $grayBg;
            @include center;
            width: 80px;
            height: 80px;
            margin-bottom: 12px;

            img {
                width: 48px;
                height: 48px;
            }
        }


        .header {
            font-size: 20px !important;
        }

        button {
            padding: 15px 150px;

            a {
                color: $white;
                text-decoration: none;
            }
        }

       
    }

}